*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Custom properties: update these for personal design */

:root{
    --ff-primary: 'Cormorant', serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --ff-tercery: 'Niconne', cursive;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light-background: #ccc; /*204, 204, 204*/
    --clr-light-font: #FFFFFF; /*255, 255, 255*/
    --clr-dark-one: #101820; /*16, 24, 32*/
    --clr-dark-two: #004748; /*0, 71, 72*/
    --clr-accent-one: #006778; /*0, 103, 120*/
    --clr-accent-two: #D7A22A; /*215, 162, 42*/

    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 2.10rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 6.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 2.5rem;
        --fs-body: 1.125rem;
    }
}



/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-dark-one);
    color: var(--clr-light-font);
    margin-left: auto;
    margin-right: auto;
    /* width: 90%; */
    
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent-one);
    outline-offset: 3px;
}

/* .animated-background{
    background: linear-gradient(
        to right, #004748, #006778, #9F792C);
    background-size: 400% 400%;
    animation: animated-background 10s infinite ease-in-out;
}

@keyframes animated-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */



/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}



/*INDEX PAGE*/

/*Header*/

li, a, button{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--clr-light-font);
    text-decoration: none;
    z-index: 2;
}

.monogram{
    height: 100px;
    width: 100px;
    object-fit: cover;
    z-index: 2;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    flex-wrap: wrap;
}

.nav__list{
    list-style: none;
}

.nav__item{
    display: inline-block;
    padding: 0px 20px;
}

.nav__link{
    position: relative;
    color: var(--clr-light-font);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-light-font);
}

.nav__link:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-light-font);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav__link:hover::before{
    transform: scaleX(1);
}

button{
    padding: 9px 25px;
    background-color: transparent;
    border: solid 1px var(--clr-light-background);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: var(--clr-light-font);
    color: var(--clr-dark-one);
}



/*Main Announcement*/
.initial-bg{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.initial-bg img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    opacity: 0.7;
    z-index: 1;
}


/*RSVP PAGE*/

/*RSVP Nav Button*/
.fa-house-chimney{
    color: var(--clr-light-background);
    padding: .5em;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
