*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Custom properties: update these for personal design */

:root{
    --ff-primary: 'Cormorant', serif;
    --ff-secondary: 'Montserrat', sans-serif;
    --ff-tercery: 'Niconne', cursive;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light-background: #ccc; /*204, 204, 204*/
    --clr-light-font: #FFFFFF; /*255, 255, 255*/
    --clr-dark-one: #101820; /*16, 24, 32*/
    --clr-dark-two: #004748; /*0, 71, 72*/
    --clr-accent-one: #006778; /*0, 103, 120*/
    --clr-accent-two: #D7A22A; /*215, 162, 42*/

    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 2.10rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 6.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-h4: 2.5rem;
        --fs-body: 1.125rem;
    }
}



/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-dark-one);
    color: var(--clr-light-font);
    margin-left: auto;
    margin-right: auto;
    /* width: 90%; */
    
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent-one);
    outline-offset: 3px;
}

/* .animated-background{
    background: linear-gradient(
        to right, #004748, #006778, #9F792C);
    background-size: 400% 400%;
    animation: animated-background 10s infinite ease-in-out;
}

@keyframes animated-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */



/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}



/*INDEX PAGE*/

/*Header*/

li, a, button{
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--clr-light-font);
    text-decoration: none;
    z-index: 2;
}

.monogram{
    height: 100px;
    width: 100px;
    object-fit: cover;
    z-index: 2;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    flex-wrap: wrap;
}

.nav__list{
    list-style: none;
}

.nav__item{
    display: inline-block;
    padding: 0px 20px;
}

.nav__link{
    position: relative;
    color: var(--clr-light-font);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-light-font);
}

.nav__link:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-light-font);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav__link:hover::before{
    transform: scaleX(1);
}

button{
    padding: 9px 25px;
    background-color: transparent;
    border: solid 1px var(--clr-light-background);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: var(--clr-light-font);
    color: var(--clr-dark-one);
}



/*Main Announcement*/
.initial-bg{
    background-image: url('../img/ProposalKnee.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.middle-wording{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    letter-spacing: .2rem;
}

.names{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.announcement{
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 7px;
    font-weight: lighter;
}



/*Scroll to Top Button*/
#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 103, 120, .25);
    color: var(--clr-light-background);
    cursor: pointer;
}

#topBtn:hover{
    background-color:  rgba(215, 162, 42, .25);
    color: var(--clr-dark-one);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
}



/*Our Story, Event Details & Registry*/

.our-story, .event-details, .registry{
    position: relative;
    padding: 1em;
}

.left-column-story, .middle-column-story, .right-column-story,.left-column-details, .middle-column-details, .right-column-details{
    float: left;
    width: 33.33%;
    padding: 10px;
}

.our-story:after, .event-details:after, .registry:after{
    content:"";
    display: table;
    clear: both;
}

.our-story__header, .event-details__header, .registry__header{
    font-size: var(--fs-h2);
    font-weight: lighter;
    text-align: center;
}

.event-details__subheading{
    font-style: italic;
    font-weight: lighter;
    font-size: var(--fs-h3);
    margin-top: 1em;
    padding-right: 2em;
    text-align: center;
    font-family: var(--ff-tercery);
}

.our-story__text, .registry-info{
    margin-top: 1em;
}

.reception-details, .ceremony-details{
    font-size: var(--fs-h3);
}

.flex-details-container{
    display: flex;
}    

.ceremony-details, .reception-details{
    flex: 1;
    margin-top: 1em;
}

.left-column-story, .right-column-details{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decorative-box-story{
    width: 32vw;
    height: 30vw;
    background-color: var(--clr-accent-two);
    position: absolute;
    z-index: 1;
}

.decorative-box-event{
    width: 33vw;
    height: 35vw;
    background-color: var(--clr-accent-one);
    position: absolute;
    z-index: 1;
}
/*TODO: might need to vertically align these to the middle - check when screen is smaller*/
.our-story__img, .event-details__img{
    z-index: 2;
    position: relative;
    align-items: center;
    justify-content: center;
}

.registry-info{
    text-align: center;
}

.brands{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    list-style: none;
    padding-top: 1em;
}

.brands__item{
    background: var(--clr-light-background);
}

.brands__item img{
    width: 130px;
    height: 75px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.brands__item a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/*Wedding Party*/

.wedding-party{
    position: relative;
    padding: 1em;
}

.wedding-party-subpage{
    position: relative;
    padding: 7em;
}

.half-left-column, .half-right-column{
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.wedding-party:after{
    content:"";
    display: table;
    clear: both;
}

.wedding-party__header{
    font-size: var(--fs-h2);
    font-weight: lighter;
    text-align: center;
}

.wedding-party__subheading{
    font-size: var(--fs-h2);
    font-family: var(--ff-tercery);
    font-weight: lighter;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .25rem;
}

.Mish-bridesmaids__img, .Jan-groomsmen__img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .75em;
    
    border-radius: 25px;
}

.Mish-bridesmaids__img{
    height: 700px;
    object-fit: scale-down;

    box-shadow: 
        rgba(215, 162, 42, 0.4) 5px 5px, 
        rgba(215, 162, 42, 0.3) 10px 10px, 
        rgba(215, 162, 42, 0.2) 15px 15px, 
        rgba(215, 162, 42, 0.1) 20px 20px, 
        rgba(215, 162, 42, 0.05) 25px 25px;
}

.Jan-groomsmen__img{
    height: 550px;
    object-fit: scale-down;

    box-shadow: 
        rgba(0, 103, 120, 0.4) 5px 5px, 
        rgba(0, 103, 120, 0.3) 10px 10px, 
        rgba(0, 103, 120, 0.2) 15px 15px, 
        rgba(0, 103, 120, 0.1) 20px 20px, 
        rgba(0, 103, 120, 0.05) 25px 25px;
}

.bridesmaids-link, .groomsmen-link{
    display: inline-block;
    position: relative;
    margin-top: 1.25em;
}

.bridesmaids-link:hover, .groomsmen-link:hover{
    transform: scale(1.5);   
    color: var(--clr-accent-two);
    transition: all .2s ease-in-out;
}

.bridesmaids-link:hover, .groomsmen-link:hover{
    transform: scale(1.5);   
    color: var(--clr-accent-two);
    transition: all .2s ease-in-out;
}

.bridesmaids-link:after, .groomsmen-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-accent-one);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.bridesmaids-link:hover:after, .groomsmen-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* Footer */

.footer{
    position: relative;
    padding: 1em;
}

.footer:after{
    content:"";
    display: table;
    clear: both;
}

.address, .social-media-text{
    text-align: center;
}

.attribute{
    text-align: center;
    margin-top: 7em;
    font-style: italic;
}

.footer-monogram{
    height: 100px;
    width: 100px;
    object-fit: cover;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-media-logo{
    width: 80px;
    height: 25px;
    object-fit: contain;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-column-details-footer{
    flex-direction: column;
    float: left;
    width: 33.33%;
    padding: 10px;
}



/*RSVP PAGE*/

/*RSVP Nav Button*/
.RSVP-header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0px;
}

.monogram-black-RSVP{
    height: 150px;
    width: 150px;
    object-fit: cover;
    z-index: 2;
}

.RSVP-page-body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
    
  background: linear-gradient(
        to right, #006778, #9F792C, #004748); 
    background-size: 400% 400%;
    animation: RSVP-page-body 10s infinite ease-in-out;
}

@keyframes RSVP-page-body{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: var(--clr-dark-one);
  padding: 25px 30px;
  border-radius: 5px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container .title{
  font-size: var(--fs-h2);
  font-weight: lighter;
  font-family: var(--ff-primary);
  position: relative;
}

.container .subtitle{
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 150px;
  border-radius: 5px;
  background: linear-gradient(135deg, #006778, #9F792C);
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
}

form .user-details .input-box,
form .additional-user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  margin-bottom: 5px;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
}

.user-details .input-box input,
.additional-user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid,
.additional-user-details .input-box input:focus,
.additional-user-details .input-box input:valid{
  border-color: var(--clr-accent-two);
}

form .food-details .food-title{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}

.food-details, .additional-user-details{
    display: none;
}

form .attend-details .attend-title,
form .additional-user-details .additional-attend-title{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
}

form .attend-details .attend{
    font-family: var(--ff-secondary);
    font-size: 15px;
}

form .category,
form .extra-food-details{
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
}

form .category label,
form .extra-food-details label{
   display: flex;
   align-items: center;
   cursor: pointer;
}

form .category label .dot,
form .extra-food-details label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: var(--clr-light-font);
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-0:checked ~ .category label .zero,
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
   background: var(--clr-accent-two);
   border-color: var(--clr-light-font);
}

#dot-A:checked ~ .category label .A,
#dot-B:checked ~ .category label .B{
   background: var(--clr-accent-one);
   border-color: var(--clr-light-font);
}

form input[type="radio"]{
   display: none;
}

form .button{
   height: 45px;
   margin: 35px 0
}

form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: var(--clr-light-font);
   font-family: var(--ff-secondary);
   font-size: var(--fs-body);
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #006778, #9F792C);
}

form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg ,#006778, #9F792C);
  }

@media(max-width: 584px){
 .container{
        max-width: 100%;
    }
form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
form .category{
        width: 100%;
    }
.content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
.user-details::-webkit-scrollbar{
        width: 5px;
    }
}

@media(max-width: 459px){
    .container .content .category{
        flex-direction: column;
    }
}



/*Groomsmen page*/

/*Groomsmen header*/
.groomsmen-header{
    position: absolute;
    width: 100%;
    top: 0;
    right: 0px;
}

