*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Custom properties: update these for personal design */

:root{
    --ff-primary: 'Bebas Neue', cursive;
    --ff-secondary: 'Encode Sans', sans-serif;
    --ff-tercery: 'Great Vibes', cursive;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-light-background: #ccc; /*204, 204, 204*/
    --clr-light-font: #FFFFFF; /*255, 255, 255*/
    --clr-dark-one: #101820; /*16, 24, 32*/
    --clr-dark-two: #004748; /*0, 71, 72*/
    --clr-accent-one: #006778; /*0, 103, 120*/
    --clr-accent-two: #D7A22A; /*215, 162, 42*/

    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px){
    :root{
        --fs-h1: 6.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



/* General Styles */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-dark-one);
    color: var(--clr-light-font);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

:focus{
    outline: 3px solid var(--clr-accent-one);
    outline-offset: 3px;
}

.flex{
    display: flex;
    gap: var(--gap, 2.5rem);
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/* Typography */

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}



/*Header*/

header{
    display: flex;
    justify-content: space-between;
}

.nav{
    font-family: var(--ff-primary);
    position: fixed;
    background: var(--clr-dark-two);
    color: var(--clr-light-font);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent-two);
    text-shadow:    0.25em 0.25em 0.75em rgba(204, 204, 204, .25),
                    0.125em 0.125em 0.25em rgba(204, 204, 204, .15);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
    background: var(--clr-accent-two);
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translate(-6px);
    background: var(--clr-accent-two);
}

.nav-open .hamburger::after{
    opacity: 0;
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-light-background);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{
    top: 6px;
}

.hamburger::after{
    bottom: 6px;
}



/*Main Announcement*/

.img-nav-container{
    position: relative;
}

.main-announce{
    position: relative;
    padding: 0%;
}

.main__img{
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: relative;
    box-shadow: 24px 0 16px -16px #004748, -24px 0 16px -16px #004748; 
    -moz-box-shadow: 24px 0 16px -16px #004748, -24px 0 16px -16px #004748; 
    -webkit-box-shadow: 24px 0 16px -16px #004748, -24px 0 16px -16px #004748;
    z-index: 1;
}

.monogram{
    position: absolute;
    left: 40%;
    text-align: center;
    top: 0%;
    width: 20%;
    filter: brightness(0) invert(1);
    z-index: 2;
}

.section__title--main-announce{
    font-family: var(--ff-tercery);
    color: var(--clr-light-font);
    text-shadow:    0.25em 0.25em 0.75em rgba(0, 103, 120, 0.25),
                    0.125em 0.125em 0.25em rgba(0, 103, 120, 0.15);
    position: absolute;
    left: 0;
    text-align: center;
    top: 33%;
    width: 100%;
    letter-spacing: 2px;
    z-index: 2;
    transform: rotate(-2.5deg);
}

.section__title--sub-announce{
    font-family: var(--ff-tercery);
    color: var(--clr-light-font);
    text-shadow:    0.25em 0.25em 0.75em rgba(0, 103, 120, 0.25),
                    0.125em 0.125em 0.25em rgba(0, 103, 120, 0.15);
    position: absolute;
    left: 0;
    text-align: center;
    top: 63%;
    width: 100%;
    letter-spacing: 1.75px;
    line-height: 15px;
    z-index: 2;
}

.section__title--sub-announce-date{
    font-family: var(--ff-tercery);
    color: var(--clr-accent-two);
    text-shadow:    0.25em 0.25em 0.75em rgba(0, 103, 120, 0.25),
                    0.125em 0.125em 0.25em rgba(0, 103, 120, 0.15);
    position: absolute;
    left: 0;
    text-align: center;
    top: 72%;
    width: 100%;
    line-height: 3px;
    z-index: 2;
}

.section__title--sub-announce span,
.section__title--sub-announce-date span{
    display: inline-block;
    position: relative;
}

.section__title--sub-announce span:before,
.section__title--sub-announce span:after{
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid var(--clr-light-font);
    border-top: 1px solid var(--clr-light-font);
    top: 0;
    width: 75%;
}

.section__title--sub-announce-date span:before,
.section__title--sub-announce-date span:after{
    content: "";
    position: absolute;
    height: 5px;
    border-top: 2px solid;
    border-style: ridge;
    border-color: var(--clr-accent-two);
    top: 0;
    width: 100%;
}

.section__title--sub-announce span:before,
.section__title--sub-announce-date span:before{
    right: 100%;
    margin-right: 15px;
}

.section__title--sub-announce span:after,
.section__title--sub-announce-date span:after{
    left: 100%;
    margin-left: 15px;
}

@media (max-width: 80em){
    .section__title--sub-announce span:before,
    .section__title--sub-announce span:after,
    .section__title--sub-announce-date span:before,
    .section__title--sub-announce-date span:after{
        max-width: 25%;
    }

    .section__title--sub-announce-date{
        top: 80%;
    }
}


/*Navigation Bar*/

.bar-navigation{
    position: sticky;
    top: 0;
    z-index: 12;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;

    align-items: center;
    justify-content: space-evenly;
    z-index: 3;

    background: hsl(0 0% 0% / 0.75);
    backdrop-filter: blur(1rem);
}

@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a{
    text-decoration: none;
    font-size: var(--fs-h3);
    color: var(--clr-light-font);
}

.primary-navigation a:hover{
    color: var(--clr-accent-two);
    text-shadow:    0.25em 0.25em 0.75em rgba(204, 204, 204, .25);
}

.primary-navigation a > [aria-hidden="true"]{
    font-weight: 600;
    margin-inline-end: .75em;
    color: var(--clr-light-font);
}

.primary-navigation a:hover > [aria-hidden="true"]{
    color: var(--clr-accent-one);
    text-shadow:    0.25em 0.25em 0.75em rgba(204, 204, 204, .25);
}

@media (max-width: 60em){
    .primary-navigation{
        --gap: 2em;
        
        position: relative;
        inset: 0 0 0 0;
        flex-direction: column;
        padding: min(20vh, 2rem) 1em;
        width: 50%;
        height: 100%;
        margin-right: 0;
        margin-left: auto;
    }
}

/*Our Story Section*/

.our-story__container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.our-story__container .our-story__card{
    position: relative;
    max-width: 100%;
    background: rgba(0, 71, 72, .25);
    margin: 0;
    padding: 0;
    display: flex;
}

.our-story__container .our-story__card .our-story__img{
    max-width: 720px;
    flex: 0 0 450px;
}

.our-story__container .our-story__card .our-story__img img{
    max-width: 100%;
}

.our-story__container .our-story__card .our-story__content{
    margin-left: 20px;
    margin-right: 10px;
}

.our-story__container .our-story__card .our-story__content h2{
    padding: 0;
    margin-bottom: 15px;
    margin-top: .25em;
    color: var(--clr-accent-two);
    text-align: center;
    font-family: var(--ff-primary);
    letter-spacing: 5px;
}

.our-story__container .our-story__card .our-story__content hr{
    border: 0; 
    height: 1px; 
    width: 50%;
    background-image: linear-gradient(to right, var(--clr-accent-one), var(--clr-accent-two), var(--clr-accent-two), var(--clr-accent-one));
}

.our-story__container .our-story__card .our-story__content p{
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    color: var(--clr-light-font);
}

@media(max-width: 991px){
    .our-story__container{
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .our-story__container{
        flex-direction: column;
    }

    .our-story__container .our-story__card{
        flex-direction: column;
        max-width: 50%;
    }

    .our-story__container .our-story__card .our-story__img{
        max-width: 100%;
    }

    .our-story__container .our-story__card .our-story__content{
        margin-left: 5px;
        margin-right: 5px;
    }
}



/*Event Details and RSVP Section*/

.event-details__container{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    padding: 0;
    margin: 0;
}

.event-details__img{
    display: block;
    position: relative;
    z-index: 1;
}

.event-details__main-header{
    display: block;
    position: absolute;
    top: 80px;
    left: 37%;
    text-align: center;
    

    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    color: var(--clr-light-font);
    letter-spacing: 5px;
    text-shadow: 0px 4px 3px rgba(0, 103, 120, 0.4),
             0px 8px 13px rgba(0, 103, 120, 0.1),
             0px 18px 23px rgba(0, 103, 120, 0.1);
    z-index: 3;
}